/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fuenteIcons.woff2') format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.saldoIMG{
	background: url("node") black !important;
}

.edoCuentaIMG{
	background:url(../imagenes/dash/mi-estado-cuenta.jpg) black !important;
}

.miPlanIMG{
	background: url(../imagenes/dash/mi-plan.jpg) black !important;
}

.solucionesIMG{
	background: url(../imagenes/dash/mas-soluciones.jpg) black !important;
}

.letrasNormales{
    text-transform:none !important;
}

#banner1bf1 {
    background-size 80% 80%; !important;
}


@media (max-width: 600px) {
  #banner1bf1 {
    background-size 80% 80% !important;
    }

}
@media (min-width: 1378px) {
  #banner1bf1 {
    background-size cover cover !important;
    }

}

@media (min-width: 1910) {
  #banner1bf1 {
    background-size cover cover !important;
    }
    
#banner1bf1 >img {
    
    }

}



@media only screen and (max-width: 768px) {
        .slider .slide.asimetrico {
          background-image: url("/imagenes/empresa-crecimiento/slider/internet-asimetrico/promo-internet-asime_trico.jpg") !important; 
          background-size: auto 100% !important;
          background-repeat: no-repeat !important;
          background-position: 40% 0 !important;
          } 
        
}

.file-field .btn, .file-field .btn-large {
    float: left;
    height: 3rem;
    line-height: 3rem;
    background-color: #D32F2F;   

}
/*To form validate*/

input.error_input{
    border-color: rgba(255,0,0,1) !important;
    color:rgba(255,0,0,1) !important;
}
input.success_input{
    border-color: #5FBA7D !important;
    color:#5FBA7D !important;
}

main.home section.planes .plan .titulo p.spago{
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}


/*.slider.home [class|='s'][class*='1']:after {
      background-image: url("/imagenes/home/slider/emprendedores-500x500.jpg");
      background-position: center center;
          background-size: 100% 100%; }
      @media only screen and (min-width: 601px) {
        .slider.home [class|='s'][class*='1']:after {
          background-image: url("/imagenes/home/slider/emprendedores-850x850.jpg"); } 
        background-position: center center;
          background-size: 100% 100%;}
      @media only screen and (min-width: 993px) {
        .slider.home [class|='s'][class*='1']:after {
          background-image: url("/imagenes/home/slider/emprendedores-1400x500.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }          
    .slider.home [class|='s'][class*='2']:after {
      background-image: url("/imagenes/home/slider/empresa-crecimiento-500x500.jpg"); 
    background-position: center center;
          background-size: 100% 100%;}
      @media only screen and (min-width: 601px) {
        .slider.home [class|='s'][class*='2']:after {
          background-image: url("/imagenes/home/slider/empresa-crecimiento-850x850.jpg");
          background-position: center center;
          background-size: 100% 100%; } }
      @media only screen and (min-width: 993px) {
        .slider.home [class|='s'][class*='2']:after {
          background-image: url("/imagenes/home/slider/empresa-crecimiento-1400x500.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
    .slider.home [class|='s'][class*='3']:after {
      background-image: url("/imagenes/home/slider/gran-empresa-500x500.jpg"); 
    background-position: center center;
          background-size: 100% 100%;}
      @media only screen and (min-width: 601px) {
        .slider.home [class|='s'][class*='3']:after {
          background-image: url("/imagenes/home/slider/gran-empresa-850x850.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
      @media only screen and (min-width: 993px) {
        .slider.home [class|='s'][class*='3']:after {
          background-image: url("/imagenes/home/slider/gran-empresa-1400x500.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
    .slider.home [class|='s'][class*='4']:after {
      background-image: url("/imagenes/home/slider/soluciones-500x500.jpg");
      background-position: center center;
          background-size: 100% 100%; }
      @media only screen and (min-width: 601px) {
        .slider.home [class|='s'][class*='4']:after {
          background-image: url("/imagenes/home/slider/soluciones-850-850.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
      @media only screen and (min-width: 993px) {
        .slider.home [class|='s'][class*='4']:after {
          background-image: url("/imagenes/home/slider/soluciones-1400x500.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
    .slider.home [class|='s'][class*='5']:after {
      background-image: url("/imagenes/home/slider/branding-500x500.jpg"); 
    background-position: center center;
          background-size: 100% 100%;}
      @media only screen and (min-width: 601px) {
        .slider.home [class|='s'][class*='5']:after {
          background-image: url("/imagenes/home/slider/branding-850x850.jpg"); 
          background-position: center center;
          background-size: 100% 100%;} }
      @media only screen and (min-width: 993px) {
        .slider.home [class|='s'][class*='5']:after {
          background-image: url("/imagenes/home/slider/branding-1400x500.jpg");
          background-position: center center;
          background-size: 100% 100%; } }*/


